@import '~@/styles/theme/fonts.scss';
@import '~@/styles/theme/colors.scss';

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: $font-sans;
  background-color: #fbfbf6;
}

body {
  font-size: 115%;
}

* {
  box-sizing: border-box
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

hr {
  border-style: solid;
  border-width: .99999px 0 0;
}

pre,
code,
tt,
var {
  font-family: $font-mono;
}

var {
  font-weight: bold;
  &:before {
    content: "$";
    font-weight: normal;
  }
}

pre {
  white-space: pre;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: unset;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 75vw;
  padding: 0.75rem;
  background: #fafafa;
  border: 1px solid #dadada;
  border-radius: 3px;
}

address {
  & {
    // self 
    font-style: italic;
  }
  &:first-line {
    font-style: normal;
    font-weight: bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-slab;
  font-weight: 100;
}

h5,
h6 {
  font-weight: 400
}

h6 {
  text-transform: uppercase;
  letter-spacing: .05em;
}

p,
ul,
ol,
dd,
blockquote,
details {
  max-width: 42em;
}

blockquote {
  border-left: 4px solid #DDD;
  margin: 1em .5em;
  padding: 0 1em;
}

ol {}

ul {
  list-style-type: square;
  .AppLayout--side & {
    list-style-type: circle;
  }
}

dl {
  dt {
    margin-top: 1rem;
    font-family: $font-slab;
    font-style: italic;
  }
  dd {
    margin: .5rem;
    padding: .5rem .75rem;
    border-left: 3px solid $edge;
  }
}

li {
  margin: .5rem 0;
}

table {
  & {
    // self 
    text-align: left;
    border-collapse: collapse;
  }
  thead {
    tr {
      border-bottom: 1px solid $matte;
    }
  }
  tbody {}
  tfoot {}
  tr:last-child {
    td {
      border-bottom: none
    }
  }
  th,
  td {
    padding: .75rem;
    border-style: dotted;
    border-width: 1px;
    border-color: $theme;
    &:first-child {
      border-left: none
    }
    &:last-child {
      border-right: none
    }
  }
  th {
    color: $theme;
    border-style: solid;
    border-color: $matte !important;
    font-family: $font-slab;
    font-style: italic;
  }
  thead th {
    background: mix( $matte, $theme, 96%);
    border-bottom:
      3px solid
      mix( $matte, $theme, 93%)
      !important;
  }
  // tbody th {
  // }
  td {
    border-color: $edge !important;
  }
}
p {
  line-height: 1.6;
  margin: unset;
  & + & { margin-top: 1.6em }
}