@import "~breakpoint-sass";

$__break__: max-width !default;

$break: 920px !default;
$point: 920px !default;

$points: (
  36rem
  $point
  );  
$breaks: (
  $__break__ nth($points,1),
  $__break__ nth($points,2),
);