$COLORLIST:(
  honey: #FCEBB6,
  burnt: #ED8751,
  beige: #E3DAC8,
  rock: #7B9FBD,
  blues: #2C62A3,
  slate: #0B1552,
  dark: #160A21,
  black: #0F0F0F,
  );

// $theme-list:
//   #FCEBB6
//   #ED8751
//   #1f327b // #2C62A3
//   #F6F5F4
//   #160A21;

$theme-list:
#1f327b
#1f327b
#1f327b
#1f327b
black;

$theme: #1F327B;
$matte: #FBFBF7;
$edge:  #E2E2E2;