$COLORLIST:(
  honey: #FCEBB6,
  burnt: #ED8751,
  beige: #E3DAC8,
  rock: #7B9FBD,
  blues: #2C62A3,
  slate: #0B1552,
  dark: rgb(13, 12, 15),
  black: #0F0F0F,
  );

$key:   #222225;
$dark:  rgb(13,12,15);
$theme: #203c64;
$matte: #fbfbf6;
$edge:  #E1E1E1;